:root {
    --color-background: #fbfbfb;
    --color-on-background: black;
    --color-background-hover: #eeeeef;
    --color-on-background-hover: black;
    --color-primary: #eeeeef;
    --color-on-primary: black;
    --color-error: #de0000;
    --color-on-error: black;
	--the-button-on-top: brightness(0) saturate(100%);
	--level-button: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5));
	--color-background-list: #fbfbfbde;
}

main.dark,
header.dark {
    color-scheme: dark;
	--color-background: #1c1b1f;
    --color-on-background: white;
    --color-background-hover: #2e2e2e;
    --color-on-background-hover: white;
	--color-primary: #2e2e2e;
    --color-primary-disabled: #1f213c;
    --color-on-primary: white;
    --color-error: #de0000;
    --color-on-error: white;
	--the-button-on-top: brightness(100%) saturate(100%);
	--level-button: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
	--color-background-list: #1c1b1fde;
}

main.darker,
header.darker {
    color-scheme: darker;
    --color-background: #0a0a0a;
    --color-on-background: white;
    --color-background-hover: #18181B;
    --color-on-background-hover: white;
    --color-primary: #1f1f1f;
    --color-primary-disabled: #1c1c1c;
    --color-on-primary: white;
    --color-error: #de0000;
    --color-on-error: white;
	--the-button-on-top: filter: brightness(100%) saturate(100%);
	--level-button: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
	--color-background-list: #070709de;
}
main.red,
header.red {
    --color-on-background: #ffaaaa;
    --color-on-primary: #ffaaaa;
}
main.orange,
header.orange {
    --color-on-background: #ffccaa;
    --color-on-primary: #ffccaa;
}
main.yellow,
header.yellow {
    --color-on-background: #fcffaa;
    --color-on-primary: #fcffaa;
}
main.green,
header.green {
    --color-on-background: #aaffbb;
    --color-on-primary: #aaffbb;
}
main.blue,
header.blue {
    --color-on-background: #aaddff;
    --color-on-primary: #aaddff;
}
main.purple,
header.purple {
    --color-on-background: #ceaaee;
    --color-on-primary: #ceaaee;
}
main.pink,
header.pink {
    --color-on-background: #ffaaff;
    --color-on-primary: #ffaaff;
}
main.reddishpink,
header.reddishpink {
    --color-on-background: #ffc1c1;
    --color-on-primary: #ffc1c1;
}
main.roberto,
header.roberto {
    --color-on-background: #fc7e20;
    --color-on-primary: #fc7e20;
}
main.lightorange,
header.lightorange {
    --color-on-background: #faa362;
    --color-on-primary: #faa362;
}
main.black,
header.black {
    --color-on-background: #000000;
    --color-on-primary: #000000;
}
main.white,
header.white {
    --color-on-background: #ffffff;
    --color-on-primary: #ffffff;
}
main.tung,
header.tung {
    background-image: url("https://brushme.com/static/uploads/media/products/product_thumb_12927_68348a383fe072.97120940.jpg");	
}
main.flip,
header.flip {
    rotate: 180deg;
}
main.trans,
header.trans {
    --color-on-background: #f5a9b8;
    --color-on-primary: #5bcefa;
}
main.transflip,
header.transflip {
	--color-on-background: #5bcefa;
    --color-on-primary: #f5a9b8;
}
main.dao,
header.dao {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/2/21/Flag_of_Vietnam.svg");	
}
main.appelog,
header.appelog {
    --color-on-background: #ffff00;
    --color-on-primary: #00ff55;
}
main.appel,
header.appel {
    --color-on-background: #ffff99;
    --color-on-primary: #9affbc;
}

* {
    font-family: 'Poppins';
}
html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
	zoom: 75%;
}

header,
main {
    background-color: var(--color-background);
    color: var(--color-on-background);
    display: grid;
    grid-template-columns: minmax(16rem, 0.6fr) 1fr minmax(
            16em,
            0.6fr
        );
    column-gap: 2rem;
}

header {
    display: flex;
	overflow-x: auto;
    padding-inline: calc(25vw - 10rem);
    height: 4rem;
    background-color: var(--color-primary);
    color: var(--color-on-primary);
}
@media screen and (min-width: 1366px) {
    header {
        display: grid;
        padding-inline: 0;
    }
}
header .logo {
    justify-self: end;
    align-self: center;
    display: flex;
    align-items: flex-end;
    display: inline-block;
}
header .nav {
    flex: 1;
}

main {
    height: 0;
    flex: 1;
    display: grid;
    grid-template-rows: minmax(0, 1fr);
    column-gap: 2rem;
}
main > div {
    overflow-y: auto;
}

.spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: span 3;
}
.forkev .yea {
	display: none;
}
.make-it-red {
    color: red;
}
input[type="checkbox"] {
    height: 1.25rem;
    width: 1.25rem;
    cursor: pointer;
    margin: 0;
}
input[type="radio"] {
    height: 1.25rem;
    width: 1.25rem;
    cursor: pointer;
    margin: 0;
}
::-webkit-scrollbar {
    width: 3px;
    height: 0;
}
::-webkit-scrollbar-track {
    background: transparent;
	margin-top: 10px;
	margin-bottom: 10px;
}
::-webkit-scrollbar-thumb {
  /*  background-color: #ccc;*/
	background-color: var(--color-on-primary);
    border-radius: 1.5px;
}

::-webkit-scrollbar-thumb:hover {
    /*background-color: #ddd;*/
	background-color: var(--color-on-primary);
}
::picker(select) {
   background: var(--color-background);
   color: var(--color-on-background);
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--color-primary);
  color: var(--color-on-primary);
  min-width: 12em;
  top: 4em;
  z-index: 1;
}

.dropdown-content a {
  float: none;
  padding: 1em 1em;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown:hover .dropdown-content {
  display: block;
}

main.forkev,
header.forkev {
    --color-on-background: #f5a9b8;
    --color-on-primary: #5bcefa;
	background-image: url("https://cdn.discordapp.com/attachments/1199708766384427102/1245575918731395183/caption.gif?ex=69f371b8&is=69f22038&hm=356e315f0592987224c3bf712f4bd2c142ec414d0164e971b2f35640153a19eb");
	rotate: 1deg;
	filter: hue-rotate(120deg);
}
main.font,
header.font {
	font-family: "Papyrus", "Comic Sans MS", "Wingdings", "Webdings", sans-serif;
}
main.widetext,
header.widetext {
	text-transform: full-width;
}
main.ALLCAPS,
header.ALLCAPS {
	text-transform: uppercase;
}
main.lowercase,
header.lowercase {
	text-transform: lowercase;
}
main.makeitred,
header.makeitred {
    --color-background: #ff0000;
    --color-on-background: #ff0000;
    --color-background-hover: #ff0000;
    --color-on-background-hover: #ff0000;
    --color-primary: #ff0000;
    --color-on-primary: #ff0000;
    --color-error: #ff0000;
    --color-on-error: #ff0000;
	--the-button-on-top: #ff0000;
	--level-button: #ff0000;
	--color-background-list: #ff0000;
}
main.hotdogstand,
header.hotdogstand {
    --color-background: #ff0000;
    --color-primary: #ffff00;
}